<section class="block container">
    <header class="block__header">
        <h2>Host on The Cloud To Keep Growing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, eaque!</p>
    </header>
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
              </span>
              <h3 class="feature__heading">Super Easy to Use</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati ratione aliquid amet? Quisquam voluptatem ab sequi debitis error iure commodi.</p>
              <a href="#" class="link-arrow">Learn More</a>
        </div>
        <img class="feature__image" src="images/easy.jpg" alt="" />
    </article>
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#settings"></use>
                </svg>
              </span>
              <h3 class="feature__heading">WordPress Made Easy</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati ratione aliquid amet? Quisquam voluptatem ab sequi debitis error iure commodi.</p>
              <a href="#" class="link-arrow">Learn More</a>
        </div>
        <img class="feature__image" src="images/wordpress.jpg" alt="" />
    </article>
</section>